* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 280px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: linear-gradient(
    180deg,
    #0f172a,
    #1e293b
  );
  color: white;
  padding: 20px;
  box-shadow: 4px 0 20px rgba(0,0,0,0.2);
  overflow-y: auto;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding-bottom: 20px;
}

.logo h2 {
  color: #38bdf8;
  font-size: 28px;
  font-weight: 700;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid #38bdf8;
  object-fit: cover;
}

.profile h3 {
  margin-top: 12px;
  font-size: 18px;
}

.profile p {
  color: #94a3b8;
  margin-top: 5px;
}

.menu {
  list-style: none;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px 16px;
  margin-bottom: 8px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: 500;
}

.menu li svg {
  font-size: 18px;
}

.menu li:hover {
  background: #2563eb;
  transform: translateX(5px);
}

.menu li.active {
  background: #2563eb;
}

.logout {
  margin-top: 25px;
  background: rgba(239,68,68,0.15);
  color: #ef4444;
}

.logout:hover {
  background: #ef4444 !important;
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 10px;
}
.assignments-page h1 {
  color: #0f172a;
  margin-bottom: 25px;
}

.assignments-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 25px;
}

.assignment-card {
  background: #fff;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.assignment-card:hover {
  transform: translateY(-6px);
}

.assignment-card h3 {
  color: #0f172a;
  margin-bottom: 20px;
}

.assignment-info {
  margin-bottom: 20px;
}

.assignment-info p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.assignment-info span {
  color: #64748b;
}

.assignment-info strong {
  color: #0f172a;
}

.score {
  color: #16a34a;
}

.start-btn,
.submitted-btn,
.result-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.start-btn {
  background: #2563eb;
  color: white;
}

.submitted-btn {
  background: #f59e0b;
  color: white;
}

.result-btn {
  background: #16a34a;
  color: white;
}
/*Assignments*/
.assignments-page h1 {
  color: #0f172a;
  margin-bottom: 25px;
}

.assignments-grid {
  display: grid;
  margin-left:70px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 25px;
}

.assignment-card {
  background: #fff;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.assignment-card:hover {
  transform: translateY(-6px);
}

.assignment-card h3 {
  color: #0f172a;
  margin-bottom: 20px;
}

.assignment-info {
  margin-bottom: 20px;
}

.assignment-info p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.assignment-info span {
  color: #64748b;
}

.assignment-info strong {
  color: #0f172a;
}

.score {
  color: #16a34a;
}

.start-btn,
.submitted-btn,
.result-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.start-btn {
  background: #2563eb;
  color: white;
}

.submitted-btn {
  background: #f59e0b;
  color: white;
}

.result-btn {
  background: #16a34a;
  color: white;
}